
.buttonFormatting {
    margin: 0px 0px 0px 5px;
    padding: 0px 20px 0px 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}

.buttonFormatting:hover {
    outline-color: rgb(45, 129, 132);
    outline-style: solid;
    outline-width: 2px;
}

.buttonFormatting:active {
    background-color: aliceblue;
}

.greenButton {
    background-color: rgb(142, 212, 141);
}

.redButton {
    background-color: rgb(200, 71, 71);
}
