
.graphComponentContainer {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.graphContainer {
    height: 80%;
    width: 85%;
    box-sizing: border-box;
    border: 2px solid orange;
}

.verticalAxisFormatting {
    height: 80%;
    width: 15%;
    box-sizing: border-box;
    border: 1px solid green;
    display: inherit;
}

.verticalAxisLabel {
    height: 100%;
    width: calc(100% - 30px);
    box-sizing: border-box;
    border: 1px solid teal;
}

.verticalAxisMarkings {
    height: 100%;
    width: 30px;
    box-sizing: border-box;
    border: 1px solid blueviolet;
}

.horizontalAxisFormatting {
    height: 20%;
    width: 85%;
    box-sizing: border-box;
    border: 1px solid red;
    display: inherit;
}

.horizontalAxisLabel {
    height: calc(100% - 30px);
    width: 100%;
    box-sizing: border-box;
    border: 1px solid brown;
    align-self: flex-end
}
