
.variableDisplayComponentFormatting {
    margin: 0px 0px 0px 0px;
    margin-right:0%;
    max-height: 40px;
    max-width: 100px;
    border: 2px solid #7a5af5;
    border-radius: 5px;

    background-color: #575757;

    line-height: 40px;
    text-align: center;
    vertical-align: middle;

    padding: 0px 30px 0px 30px;
}

p {
    margin: 0px 0px 0px 0px;
}
