
.graph-formatting {
    height: 50%;    
    width: 70%; 
    border: 1px solid black;
}

.vertical-axis-label {
    width: 10%;
    height: 100%;
    line-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;
}
