
.app-formatting {
    height: calc(100vh - 44px);
    width: calc(100vw - 44px);
    margin: 10px;
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 5px;
    background-color: whitesmoke;

    display: flex;
}

.graph-section {
    height: 100%;
    width: 70%;
}
