
.barGraphComponentContainer {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.boxDivFormatting {
    height: 100%;
    bottom: 0px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.graphContainer {
    height: 80%;
    width: 85%;

    position: relative;
    
    display: flex;
    justify-content: center;
    
    box-sizing: border-box;
    border: 1px solid #7a5af5;
    background-color: #121212;
}

.horizontalAxisMarkings {
    height: 30px;
    width: 100%;

    display: flex;
    justify-content: center;
}


.horizontalMarkingFormatting {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;

    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
}

.shadedDivFormatting {
    height: 10%;
    
    padding-left: 10px;
    padding-right: 10px;

    color: transparent;
    user-select: none;
}
